<section class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-4">
                <div class="contact-number">

                    {% if settings.phone_number != blank %}
                    <i class="fa fa-phone"></i>
                    <span style="font-weight:bold;">{{ settings.phone_number }}</span>
                    {% endif %}

                </div>
            </div>

            <div class="col-md-4 col-xs-12 col-sm-4">
                <!-- Site Logo -->
                <div class="logo text-center">

                    {% if settings.logo_upload %}
                    <a href="/">
                        <img src="{{ settings.logo_upload | img_url: '1920x' }}" alt="">
                    </a>
                    {% else %}
                    <a href="/">
                        <h3 style="font-weight:bold;">{{ shop.name }}</h3>
                    </a>
                    {% endif %}

                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <ul class="top-menu list-inline float-right">

                    <li class="list-inline-item"><a href="/cart"><i class="fa fa-shopping-cart"></i>Cart</a></li>

                    {% if shop.customer_accounts_enabled %}
                    {% if customer %}
                    <li class="list-inline-item"><a href="/account"><i class="fa fa-user"></i>Your Account</a></li>
                    <li class="list-inline-item"><a href="/account"><i class="fa fa-sign-out"></i>Signout</a></li>
                    {% else %}

                    <li class="list-inline-item"><a href="/account/login"><i class="fa fa-sign-in"></i>Login</a></li>
                    {% endif %}
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>
</section>


{% include "menu" %}


{% schema %}
{
"name": "Main Menu",
"settings": [
{
"type": "link_list",
"id": "main_linklist",
"label": "Menu",
"default": "main-menu"
}
]
}
{% endschema %}